In [11]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
df=pd.read_csv("C:\\Users\\DELL\\Desktop\\Multiple Linear Regression\\50_Startups.csv")

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
dummies=pd.get_dummies(df.State)
dummies.head()

   California  Florida  New York
0           0        0         1
1           1        0         0
2           0        1         0
3           0        0         1
4           0        1         0

In [8]:
merged=pd.concat([df,dummies],axis='columns')
merged.head()

,R&D Spend,Administration,Marketing Spend,State,Profit,California,Florida,New York
0,165349.20,136897.80,471784.10,New York,192261.83,0,0,1
1,162597.70,151377.59,443898.53,California,191792.06,1,0,0
2,153441.51,101145.55,407934.54,Florida,191050.39,0,1,0
3,144372.41,118671.85,383199.62,New York,182901.99,0,0,1
4,142107.34,91391.77,366168.42,Florida,166187.94,0,1,0

In [9]:
merged.tail()

,R&D Spend,Administration,Marketing Spend,State,Profit,California,Florida,New York
45,1000.23,124153.04,1903.93,New York,64926.08,0,0,1
46,1315.46,115816.21,297114.46,Florida,49490.75,0,1,0
47,0.00,135426.92,0.00,California,42559.73,1,0,0
48,542.05,51743.15,0.00,New York,35673.41,0,0,1
49,0.00,116983.80,45173.06,California,14681.40,1,0,0

In [15]:
final=merged.drop(['New York',"State"],axis='columns')
final.head()

   R&D Spend  Administration  Marketing Spend     Profit  California  Florida
0  165349.20       136897.80        471784.10  192261.83           0        0
1  162597.70       151377.59        443898.53  191792.06           1        0
2  153441.51       101145.55        407934.54  191050.39           0        1
3  144372.41       118671.85        383199.62  182901.99           0        0
4  142107.34        91391.77        366168.42  166187.94           0        1

In [17]:
x=final.drop("Profit",axis='columns')
x.head()

   R&D Spend  Administration  Marketing Spend  California  Florida
0  165349.20       136897.80        471784.10           0        0
1  162597.70       151377.59        443898.53           1        0
2  153441.51       101145.55        407934.54           0        1
3  144372.41       118671.85        383199.62           0        0
4  142107.34        91391.77        366168.42           0        1

In [19]:
y=final.Profit
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [20]:
#80:20%
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [21]:
model=LinearRegression()

In [22]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
model.predict(x_test)

array([103015.20159776, 132582.27760831, 132447.73845184,  71976.09851266,
       178537.4822107 , 116161.24230157,  67851.69209689,  98791.73374679,
       113969.43533008, 167921.06569569])

In [25]:
model.score(x_test,y_test)

0.9347068473294996

In [27]:
pwd

'C:\\Users\\DELL'